body
{
    margin: 0px;
}

/* HEADER STYLING */
.header
{
    display: block;
    width: auto;
    height: 500px;
    background-color: #8003D1;
    background-image: url("../img/header-small-c.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    z-index: 1;
}

.header .nav-links
{
    display: inline;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

.nav-links a
{
    background-color: #fcfcfc;
    border: 3px solid #fcfcfc;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:25px;
    padding-right:25px;
    margin: 5px;


    color: #181818;
    text-decoration: none;
    font-size: 15px;
    font-family: "Verdana", sans-serif;
    font-weight: bolder;
}

.nav-links a:hover
{
    background-color: #303030;
    border: 3px solid #303030;
    color: #fcfcfc;
    transition: all 0.3s;
}

.nav-links .btn
{
    background-color: #242424;
    border: 3px solid #242424;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:25px;
    padding-right:25px;
    margin-top: -10px;
    margin-left: 5px;

    color: #fcfcfc;
    text-decoration: none;
    font-size: 15px;
    font-family: "Verdana", sans-serif;
    font-weight: bolder;

}

.desc-box
{
    display: block;
    width: 500px;
    height: 400px;
    margin-left: 50%;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.menu-btn
{
    border: 1px solid white;
    margin-left: 15px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-image: url(../img/white-menu.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    margin-top: -15px;

}

.menu-btn:hover
{
    border: 8px solid white;
    background-image: url(../img/white-menu-inverse.png);
    transition-duration: 0.1s;
}

.nav-links .btn:hover
{
    background-color: #fcfcfc;
    border: 3px solid #fcfcfc;
    border-radius: 30px;

    color: #181818;

    transition-duration: 0.25s;
}

/* contains links on top of header */
.top-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
}

/* contains links on the bottom of header */
.bottom-container
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    margin-top: -50px;
}

.search-container
{
    display: flex;
    height: 50px;
    background-color: #fcfcfc;
    border: 3px solid #fcfcfc;
    border-radius: 30px;

    margin-right: 10px;
    margin-bottom: 10px;
}

/* change search-container styling 
   on children's focus  */
.search-container:focus-within
{
    border: 3px solid #efefef !important;
    background-color: #efefef !important;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.search-container input[type="text"]
{
    border: 3px solid #fcfcfc;
    background-color: #fcfcfc;
    border-radius: 30px;
    outline: none;
    padding-left: 10px;
    width: 250px;
    height: 50px;
}

.search-container input[type="text"]:focus
{
    outline: none;
    border-color: #efefef !important;
    background-color: #efefef !important;
    width: 300px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.search-btn
{
    opacity: 0.5;
    background: transparent;
    border: none;
    margin-top: 15px;
    margin-right: 20px;
    width: 20px;
    height: 20px;

}

.search-btn img
{
    height: 20px;
    width: 20px;
    margin: 0px;
}
/* end header styling */

/* Add styles to the form container */
.form-container {
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #242424;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


.content
{
    display: flex;
}

.grid
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 20px;
    min-width:0;
    max-width: 1200px;
}

.animal-box
{
    display: block;
    width: 200px;
    height: 300px;
    background: #efefef;
    margin-left: 25px;
    margin-top: 75px;
    margin-bottom: 0px;
    padding: 10px;

}

.animal-box .animal-data-container {
    font-family: "Verdana", sans-serif;
    position: relative;
    top: -190px;
    visibility: hidden;
}

.animal-box > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}


.animal-data-container {
    visibility: hidden;
}

.animal-box:hover .animal-data-container {
    padding: 9px;
    position: relative;
    background: rgba(214, 214, 214, 0.8);
    transition: .5s ease;
    visibility: visible;
}

.animal-data-container > ul {
    list-style-type: none;
}

.animal-data-container > ul > li > h2 {
    margin-bottom: 1%;
}


.submit-button {
    background-color: #242424;
    border: 3px solid #242424;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:25px;
    padding-right:25px;
    margin-top: -10px;
    margin-left: 5px;
    color: #fcfcfc;
    text-decoration: none;
    font-size: 13px;
    font-family: "Verdana", sans-serif;
    font-weight: bolder;
    width: 100%;
}

.submit-button-container {
    padding-top: 50px;
    align-items: center;
}


.submit-button:hover {
    background-color: #8003D1;
    border: 3px solid #8003D1;
    border-radius: 30px;

    color: #efefef;

    transition-duration: 0.25s;
}

.adopt-button {
    background-color: #efefef;
    border: 3px solid #efefef;
    border-radius: 30px;
}

.age-filter-container > ul {
    list-style-type: none;
}

.age-filter-container {
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    box-sizing: border-box;
    display: block;
    border: 1px solid white;
    border-radius: 1em;
}

.sidebar
{
    display: none;
    height: 900px;
    width: 250px;
    background-color: #efefef;
    color: #181818;
    font-family: "Poppins", sans-serif;
}

.animal-info-field {
    font-size: 30px;
    font-family: "Verdana", sans-serif;
    font-weight: bolder;
    color: #8003D1;

    border: 0;
    background: transparent;
}

.adopt-button {
    position: relative;
    border: 3px solid #efefef;
    left: 40px;
    width: 100px;
    font-size: 15px; 
}

.adopt-button:hover {
    background-color: gray;
    color: white;
    border: 3px solid gray;
}



/* SELECT STYLING */
.select-css {
    display: block;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 1.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}

/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    background-color: white;
    color: #222; 
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}
/* end select styling */

/* -------- TAB SYSTEM STYLE -------- */
.tab
{
    display: flex;
    justify-content: space-between;
    width: 250px;
    overflow: hidden;

}

.tab button 
{
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s;
    color: white;
    font-size: 15px;
    width: 100%;
    text-align: left;

    font-family: "Poppins", sans-serif;
    font-weight: lighter;
}

.tab button img
{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.tab button:hover 
{
    background-color: #8119bf;
    transition-duration: 0.2s;
}

/* Active tablink class to keep color while content is active */
.tab button.active 
{
    border-left: 3px solid white;
    background-color: #8f32c6;
}

/* Do not display tab content by default */
.tabcontent 
{
    margin: 10px;
    display: none;
}
/*End table system style*/




/* SCROLL BAR STYLING */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

h1
{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #3e3e3e;
    text-align: center;
    text-transform: uppercase;
}

.custom-select
{
    margin: 10px;
}